body {
	font-family: "Zen Dots", sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 20px;
	background-image: url("./assets/themes/space/background-img.jpg");
	background-color: #dbdbdb;
	display: flex;
}

.theme-button {
	height: 40px;
	position: fixed;
	top: 50%;
}

#left-theme-button {
	left: 10px;
}

#right-theme-button {
	right: 10px;
}

.container {
	max-width: 800px;
	margin: auto auto;
	background: #140101;
	color: #f4f4f4;
	padding: 25px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	line-height: 1.5;
	text-align: center;
}

div.header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	color: #e9e9e9;
}

div.section-head-container {
	display: flex;
	justify-content: center;
	justify-content: center;
	margin: 20px 0;
}

img.section-header-img {
	width: 120px;
	height: 120px;
	vertical-align: middle;
	margin: 0 5px;
}

img.header-img {
	width: 150px;
	height: 150px;
	vertical-align: middle;
	margin: 15px 10px;
}

img.rose {
	width: 150px;
	height: 200px;
	vertical-align: middle;
	margin: 0 10px;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin-bottom: 10px;
}

.section {
	margin-bottom: 20px;
}

.contact-info a {
	color: #007bff;
	text-decoration: none;
}

.contact-info a:hover {
	text-decoration: underline;
}
